# Basic Stuff

## Mutable and Immutable Data types 
### Mutable (Memory location can change )
- List -> [ 1, 2, 3]
- Set -> {2 , 3 }
- Dict

## Misc Stuff
a -> 
/ -> always returns float datatype 

str[start:stop:step]

# File handling

- r: open an existing file for a read operation.
- w: open an existing file for a write operation. If the file already contains some data, then it will be overridden but if the file is not present then it creates the file as well.
- a:  open an existing file for append operation. It won’t override existing data.
- r+:  To read and write data into the file. This mode does not override the existing data, but you can modify the data starting from the beginning of the file.
- w+: To write and read data. It overwrites the previous file if one exists, it will truncate the file to zero length or create a file if it does not exist.
- a+: To append and read data from the file. It won’t override existing data.

In [1]:
file = 'test'
testStr = "abcd"
testArr = [1, 2, 3, 4, 5,6]

# writing file
print("Writing files")
with open(file , 'w+') as filedata:
    contents = filedata.write(''' 
    Test sample string
    ''')

    filedata.close()

with open(file , 'r') as filedata:
    print(" Test sample data written : " , filedata.readlines ())
    print(filedata.name)
    print(filedata.mode)
    print(filedata.closed)
    filedata.close()

# Reading from file
with open(file, 'r') as filedata:
    filedata.read(10) # read 10 characters / bytes
    filedata.readLine(10) # reads 10 characters / byte but stops before if newline is present
    
    

byteFile = open('samplebytes' , 'wb+')
byteArrFile = open("sampleArrBytes" , "wb+")

import pickle

# Writing serialized data with pickle using 'wb+'
with open('samplebytes', 'wb+') as byteFile:
    pickle.dump(testStr, byteFile)

# Writing another serialized object
with open("sampleArrBytes", 'wb+') as byteArrFile:
    pickle.dump(testArr, byteArrFile)

# Reading serialized data from 'wb+' files
with open('samplebytes', 'rb') as byteFile:
    deserializedStr = pickle.load(byteFile)
    print(deserializedStr)

with open("sampleArrBytes", 'rb') as byteArrFile:
    deserializedArr = pickle.load(byteArrFile)
    print(deserializedArr)

[' \n', '    Test sample string\n', '    ']
abcd
[1, 2, 3, 4, 5, 6]

In [ ]:
while(condition):
    <statements>
else :
    <states that will execute once while loop ends>

while(condition):
    break
else:
    print("this wont execute")

range is a datatype wtf

# SQL

| Data type    | Description                                                                                       |
|---------------|---------------------------------------------------------------------------------------------------|
| CHAR(n) | n -> [0,255] . If string less than n char, the remaining is filled iwth spaces |
| VARCHAR(n) | n -> [0,65535] . String wont be filled with empty spaces |
| INT | 4 bytes. value => [0, 4,294,967,295] |
| FLOAT| 4 bytes |
| DATE | in "YYYY-DD-MM" format. value => ['1000-01-01' to '9999-12-31']

| Constraint    | Description                                                                                       |
|---------------|---------------------------------------------------------------------------------------------------|
| NOT NULL      | Ensures that a column cannot have NULL values, indicating a missing/unknown/not applicable value. |
| UNIQUE        | Ensures that all the values in a column are distinct/unique.                                     |
| DEFAULT       | A default value specified for the column if no value is provided.                                |
| PRIMARY KEY   | The column which can uniquely identify each row/record in a table.                               |
| FOREIGN KEY   | The column which refers to the value of an attribute defined as a primary key in another table.  |

| Function                                    | Description                        |
|---------------------------------------------|------------------------------------|
| UCASE(string) / UPPER(string)               | Converts to uppercase.            |
| LOWER(string) / LCASE(string)               | Converts to lowercase.            |
| MID(string, pos, n) / SUBSTRING(string, pos, n) / SUBSTR(string, pos, n) | Extracts substring.               |
| LENGTH(string)                              | Gets string length.               |
| LEFT(string, N)                             | Returns leftmost N characters.    |
| RIGHT(string, N)                            | Returns rightmost N characters.   |
| INSTR(string, substring)                    | **RETURNS (index + 1) 0 if not found**         |
| LTRIM(string)                               | Removes leading whitespace.        |
| RTRIM(string)                               | Removes trailing whitespace.       |
| TRIM(string)                                | Removes both leading and trailing whitespace. |

| Function         | Example                           | Output             |
|------------------|-----------------------------------|--------------------|
| NOW()            | SELECT NOW();                     | 2019-07-11 19:41:17|
| DATE()           | SELECT DATE(NOW());               | 2019-07-11         |
| MONTH(date)     | SELECT MONTH(NOW());              | 7                  |
| MONTHNAME(date)  | SELECT MONTHNAME("2003-11-28");  | November           |
| YEAR(date)      | SELECT YEAR("2003-10-03");       | 2003               |
| DAY(date)       | SELECT DAY("2003-03-24");        | 24   ie(date)              |
| DAYNAME(date)   | SELECT DAYNAME("2019-07-11");    | Thursday           |

> Note that you gotta do DATE(NOW()) to get just like in js

| Function      | Description                         |
|---------------|-------------------------------------|
| MAX(column)   | Returns the largest value.          |
| MIN(column)   | Returns the smallest value.         |
| AVG(column)   | Returns the average of values.      |
| SUM(column)   | Returns the total sum of values.    |
| COUNT(*)      | Returns the **total number of records**.|
| COUNT(column) | Counts **non-NULL values** in a column. |

## List of Snippets

#### CREATE
```
mysql> CREATE TABLE STUDENT(
 -> RollNumber INT UNIQUE NOT NULL PRIMARY KEY,
 -> SName VARCHAR(20),
 -> SDateofBirth DATE,
 -> GUID CHAR (12),
 -> PRIMARY KEY (RollNumber));
Query OK, 0 rows affected (0.91 sec)
```

#### ALTER

##### 1. Adding Primary key 

```
ALTER TABLE <table name> ADD PRIMARY KEY <attribute name>
```

##### 2. Adding Foreign Key

```mysql
ALTER TABLE <table name> 
    ADD FOREIGN KEY <attribute name>
    REFERENCES <another table>(attribute from that that table)

ie ALTER TABLE STUDENT
 -> ADD FOREIGN KEY(GUID) REFERENCES
 -> GUARDIAN(GUID);
```

##### 3. Adding UNIQUE

```
ALTER TABLE table_name ADD UNIQUE (attribute
name);
```

##### 4. Adding attribute

```
ALTER TABLE table_name ADD <attributename> DATATYPE CONSTRAINTS
```

eg :- to be added with constraints

##### 5. Modify Datatype
```
ALTER TABLE table_name MODIFY attribute DATATYPE 
```
##### 6. Modify Constraint 
```
ALTER TABLE table_name MODIFY attribute DATATYPE <ADD CONSTRAINT>
```
##### 7. Add default Value
```
ALTER TABLE table_name MODIFY attribute DATATYPE
DEFAULT default_value;
```
##### 8. Removing attribute
```
ALTER TABLE table_name DROP attribute
```
##### 9> 
```
ALTER TABLE table_name DROP PRIMARY KEY;
```

### Minor doubts
- in the ADD of ALTER TABLE, we can define the constraint before the attribute name for "PRIMARY KEY, FOREIGN KEY AND UNIQUE ALONE??""