In [3]:
str = 'river'

for i in range(1, len(str) + 1):
    print(str[0:i])

r
ri
riv
rive
river

```plaintext
##### 1. Adding an Attribute

```
ALTER TABLE <table_name> ADD <attribute_name> <DATATYPE>;
```
*Example:* 
```
ALTER TABLE GUARDIAN ADD income INT;
```

##### 2. Modifying Data Type of an Attribute

```
ALTER TABLE <table_name> MODIFY <attribute_name> <DATATYPE>;
```
*Example:* 
```
ALTER TABLE GUARDIAN MODIFY GAddress VARCHAR(40);
```

##### 3. Modifying Constraint of an Attribute

```
ALTER TABLE <table_name> MODIFY <attribute_name> <DATATYPE> NOT NULL;
```
*Example:* 
```
ALTER TABLE STUDENT MODIFY SName VARCHAR(20) NOT NULL;
```

##### 4. Adding Default Value to an Attribute

```
ALTER TABLE <table_name> MODIFY <attribute_name> <DATATYPE> DEFAULT <default_value>;
```
*Example:* 
```
ALTER TABLE STUDENT MODIFY SDateofBirth DATE DEFAULT '2000-05-15';
```

##### 5. Removing an Attribute

```
ALTER TABLE <table_name> DROP <attribute_name>;
```
*Example:* 
```
ALTER TABLE GUARDIAN DROP income;
```

##### 6. Removing Primary Key

```
ALTER TABLE <table_name> DROP PRIMARY KEY;
```
*Example:* 
```
ALTER TABLE GUARDIAN DROP PRIMARY KEY;
```

##### 7. Minimum and Maximum Values for INT

- **Minimum Value:** -2,147,483,648
- **Maximum Value:** 2,147,483,647
```

In [7]:
thisdict = {
    'brand' : "Tata",
    'model' : "Alto",
    'year' : 1969
}

print(thisdict)
print(thisdict.keys())
print(thisdict.values())
print(thisdict.get("year"))

thisdict['model'] = "matu vandi"

print(thisdict.popitem())
# print(thisdict

{'brand': 'Tata', 'model': 'Alto', 'year': 1969}
dict_keys(['brand', 'model', 'year'])
dict_values(['Tata', 'Alto', 1969])
1969
('year', 1969)